httpx
fastapi
sentry-sdk[fastapi]
discord.py @ git+https://github.com/Rapptz/discord.py@master
requests-oauthlib
discord-interactions
supabase
python-dotenv
lru-dict
aiocache
jinja2
toml
datetime
loguru
postgrest
itsdangerous
