<!DOCTYPE html>
<head>
  <style>

    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
    * {
        font-family: 'IBM Plex Mono', monospace;
    }
    html, body, .middle {
      overflow: hidden;
        height: 100%;
        width: 100%;
        background-color: black;
    }
    h1, h2 {
        color: white;
    }
    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
    <meta id="404" content="404" property="og:title" />
    <meta content="Invalid characters" property="og:description" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="icon" type="image/x-icon" href="/icon" />
</head>
<body>
  <div class="middle">
    <h1>404</h1>
    <h2>Invalid Characters, use "+" for a space.</h2>
  </div>
</body>