html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

html {
  min-height: 100vh;
}

body {
  background-color: #412752;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* for some reason 100% didn't work here */
}


.c {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #412752;
}

.footer {
  display: flex;
  height: 4vh;
  padding: 1em;
  margin-top: -1em;
  background-color: #412752;
}



.flex-c-1>h1,
.flex-c-1>p {
  font-family: 'Magra', sans-serif;
  color: #9a738f;
}

.flex-c-r {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
  padding-bottom: 1em;
  justify-content: center;
}

.flex-c-r>h1 {
  font-family: 'Magra', sans-serif;
  font-size: 40px;
  color: #d3acc8;
  align-self: flex-end;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pfp {
  height: 95px;
  width: 95px;
  vertical-align: middle;
  margin-right: 1em;
  border-radius: 50%;
}

.flex-c-1>p {
  font-size: 24px;
  font-family: 'Capriola', sans-serif;
  text-align: center;
  margin: 0;
}

.copyright {
  display: flex;
  padding-left: 0.5em;
  margin-right: auto;
  align-items: center;
}

.copyright>p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  color: #d3acc8;
}

.copyright>p>a {
  color: #d3acc8;
}

.copyright>p>a:visited {
  color: #d3acc8;
}

.links {
  display: flex;
  justify-content: end;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-family: 'Capriola', sans-serif;
}

.links>a {
  text-decoration: none;
  color: #d3acc8;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transform: scale(1.00);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links>a:hover {
  color: #BFC3BA;
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  position: relative;
}


/* Dropup Button */
.initials {
  font-size: medium;
  padding-bottom: 5px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  top: 50%;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #ddd
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}

.info {
  position: absolute;
  max-width: 4%;
  z-index: 1;
}

.hovered1 {
  position: absolute;
  max-width: 4%;
  z-index: 1;
}

a {
  color: #9a738f;
}